
@{
}
<div>
    @if (ViewContext.HttpContext.Request.Cookies["filters"] != null)
    {
        foreach (var filter in ViewContext.HttpContext.Request.Cookies["filters"].Split(","))
        {
            <div>Test</div>
        }
    }

</div>