@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Home Page</h1>
    <h2>A professional-looking landing page that describes the project and has a link to view the burial information</h2>
</div>
