@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Supervised Analysis</h1>

<h2>A page that allows the user to enter osteology and/or burial information to predict (based on your trained model) the sex of the burial (see information re: IS 455 requirements)</h2>